<main>
  <section class="logo">
    <app-login-logo-container></app-login-logo-container>
  </section>

  <section class="forgotPassword">
    <div class="content">
      <h2>Forgot Password</h2>
      <p>We will send the OTP on email.</p>
      <div class="enterEmail">
        <label for="email">Email</label>
        <br />
        <input
          type="text"
          placeholder="email"
          required
        />
        <br />
        <button type="button" >Continue</button>

      </div>
    
        <p class="joinToday">
          Dont have an account? <a routerLink="/auth/signup">Join free today</a>
        </p>
    </div>
  </section>
</main>
